body {
    background-color: rgb(218, 218, 247);
}
/* body */ 
header {
    padding-top: 30px;
    padding-bottom: 50px;
    height: 275px;
    width: auto;
    border-radius: 6px;
    background-image: url(https://www.science.org/do/10.1126/science.aab2491/full/bonding_16x9-1644945505710.jpg);
}

ul>li {
    display: inline;
    margin-left: 75px;
}
ul>li>a {
    text-decoration: none;
    color: rgb(134, 0, 0);
    font-weight: 800;
    font-size: x-large;
}
nav {
    border: 3px solid rgb(71, 71, 71);
    margin-bottom: 30px;
    border-radius: 5px;
}

article {
    display: inline-block;
    width: 65%;
    text-align: center;
    margin-top: 35px;
}
aside {
    display: inline-block;
    height: 250px;
    width: 30%;
    text-align: center;
    vertical-align: top;
    margin-top: 70px;
    border-left: 1px solid black;
}

main {
    border: 3px solid rgb(71, 71, 71);
    margin-top: 40px;
    padding: 15px;
    border-radius: 5px;
}
footer {
    text-align: center;
}
footer>p {
    font-weight: 500;
    color: rgb(151, 60, 0);
}
#copy {
    font-size: xx-large;
    font-weight: 900;
    color: black;
}
